@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: black;
    background-image: url('https://www.transparenttextures.com/patterns/dark-denim-3.png'); /* textura medieval leve */
    background-repeat: repeat;
}

.ficha {
    background-color: rgb(189, 189, 189);
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area_ficha {
    display: flex;
    width: 100%;
}

.button_header {
    height: 5vh;
    width: 10vw;
    cursor: pointer;
}

#xp_grad {
    background-color: white;
    border: 1px solid black;
    color: red;
    font-weight: bold;
    ;
}

#xp_esp {
    background-color: white;
    border: 1px solid black;
    color: red;
    font-weight: bold;
    ;
}

header {
    display: flex;
    height: 18vh;
    padding: 1vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

label {
    font-weight: bold;
    font-family: "MedievalSharp", cursive;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-shadow: 1px 1px 20px black;
    background-color: rgb(101, 0, 0);
    padding: 1vh;
    border-radius: 10px;
    height: 4vh;
}

input {
    width: 20vw;
    height: 5vh;
    font-size: 3vh;
    padding-left: 5px;
    font-family: "MedievalSharp", cursive
}

.tabs {
    display: flex;
    width: 99%;
    justify-content: space-around;
    background-color: rgb(159, 157, 157);
    border: 1px solid black;
    padding: 0.3vw;
    /* fundo escuro */
}

.tab-button {
    padding: 12px 24px;
    cursor: pointer;
    background: #222;
    color: #ccc;
    border: 1px solid #444;
    border-bottom: none;
    font-family: 'Cinzel', serif;
    /* estilo clássico medieval */
    letter-spacing: 1px;
    transition: background 0.3s, color 0.3s;
}

.tab-button:hover {
    background: #333;
    color: #fff;
}

.tab-button.active {
    background: #000;
    color: #f5f5f5;
    border-bottom: 2px solid #000;
    font-weight: bold;
}

.tab-content {
    display: none;
    border: 1px solid #444;
    line-height: 1.5;
}

.tab-content.active {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.notacoes_de_atributos {
    width: 100%;
    border: 2px solid #3a3a3a;
    background: #1e1e1e;
    color: #ddd;
    font-family: 'Cinzel', serif;
}

.atributos_father {
    border: 2px solid #3a3a3a;
    display: flex;
    flex-direction: column;
    background: #2a2a2a;
    padding: 5px;
}

.atributos {
    display: flex;
}

.atributos button {
    font-family: 'Cinzel', serif;
    background-color: #3a3a3a;
    color: #eee;
    border: 1px solid #555;
    transition: 0.3s;
}

.atributos button:hover {
    cursor: pointer;
    background-color: #5c3b1e;
    color: #fff;
    border-color: #7a4a26;
}

.graduacoes,
.habilidades,
.especialidades {
    display: flex;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background-color: #2f2f2f;
    color: #ccc;
}

.graduacoes {
    width: 10%;
}

.graduacoes input {
    width: 4vw;
    text-align: center;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    background: #1e1e1e;
    color: #fff;
    border: 1px solid #555;
}

.habilidades {
    width: 30%;
}

.habilidades button {
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    background-color: #3a3a3a;
    color: #eee;
    border: 1px solid #555;
}

.especialidades {
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 5px;
}

.especialidades ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.especialidades ul li {
    border: 1px solid #555;
    background-color: rgba(90, 90, 90, 0.5);
    color: #eee;
    font-family: 'Cinzel', serif;
    padding: 3px 6px;
    margin: 2px;
    border-radius: 3px;
}

.especialidades label {
    font-size: 2.5vh;
    color: #ccc;
    font-family: 'Cinzel', serif;
}

.especialidades input {
    width: 2vw;
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #555;
}

.especialida_unica {
    display: flex;
    align-items: center;
}

.especialida_unica label:hover {
    transition: 0.5s;
    color: #a4161a;
}

#idiomaInput {
    width: 100%;
    background: #2a2a2a;
    color: #ddd;
    border: 1px solid #444;
    padding: 3px;
    font-family: 'Cinzel', serif;
}


.notacoes_corporais {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.intriga {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10%;
    flex-direction: column;
    font-family: 'Garamond', serif;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
}

.intriga input,
.container_combate input {
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 4%;
    text-align: center;
    letter-spacing: none;
}

.container_intriga {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 1vh;
    justify-content: center;
}

.defesa_intriga_father,
.compostura_father {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.combate {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Garamond', serif;
    letter-spacing: 1px;

}

.container_combate {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.saude_father {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #3a3a3a;
    border-top: 1px solid #3a3a3a;
    /* textura medieval */
    color: #000000;
    font-family: "Cinzel", serif;
    padding: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;

}

.barra-container {
    display: flex;
    gap: 6px;
    margin: 15px 0;
    flex-wrap: wrap;
}

.ponto_vida {
    width: 28px;
    height: 28px;
    background: #5e5e5e;
    background-image: url('https://static.vecteezy.com/system/resources/previews/018/719/301/non_2x/broken-heart-symbol-on-transparent-background-free-png.png');
    background-size: contain;
    background-position: center;
    filter: saturate(60%);
    border: none;
    border: 2px solid #2a2a2a;
    box-shadow: inset 0 0 5px #111;
    transition: background-color 0.3s, transform 0.1s;
    clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);
}

.ponto_vida:hover {
    background-color: #7e1111;
    cursor: pointer;
    transform: scale(1.1);
    background-image: url('https://imagepng.org/coracao/coracao-1/');
    filter: saturate(100%);
    background-size: contain;
    background-position: center;
}

.ponto_vida.ativo_vida {
    background-color: #a4161a;
    border-color: #440000;
    background-image: url('https://imagepng.org/coracao/coracao-1/');
    filter: saturate(100%);
    background-size: contain;
    background-position: center;
}

.ponto_vida.ativo_vida:hover{
    background-image: url('https://static.vecteezy.com/system/resources/previews/018/719/301/non_2x/broken-heart-symbol-on-transparent-background-free-png.png');
    background-size: contain;
    background-position: center;
    filter: saturate(60%);
}

.ponto_compostura {
    width: 28px;
    height: 28px;
    background: #5e5e5e;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/022/000/084/small/hand-painted-rejected-sign-free-png.png');
    background-size: contain;
    background-position: center;
    filter: saturate(60%);
    border: none;
    border: 2px solid #2a2a2a;
    box-shadow: inset 0 0 5px #111;
    transition: background-color 0.3s, transform 0.1s;
    clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);
}

.ponto_compostura:hover {
    background-color: #7e1111;
    cursor: pointer;
    transform: scale(1.1);
    filter: saturate(100%);
}

.ponto_compostura.ativo_compostura {
    background-color: #a4161a;
    border-color: #440000;
    background-image: url('https://cdn-icons-png.flaticon.com/512/251/251255.png');
    background-size: contain;
    background-position: center;
    filter: saturate(100%);
}

.ponto_compostura.ativo_compostura:hover{
    filter: saturate(30%);
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/022/000/084/small/hand-painted-rejected-sign-free-png.png');
}

/* .pop_up {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    align-items: center;
    margin-left: 5vw;

}

.pop_up_content {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 40vw;
    background-color: rgb(254, 254, 254);
    border: 10px solid black;
}

.pop_up_content h1 {
    font-family: "MedievalSharp", cursive;
    color: black;
    text-shadow: 1px 1px 20px rgb(195, 98, 2);
    margin: 3vh;
}

.pop_up_content p {
    color: black;
    text-shadow: 1px 1px 20px rgb(195, 98, 2);
    font-weight: bold;
    font-size: 3vh;
}

.pop_up_content button {
    width: 10vw;
    height: 5vh;
    font-size: 3vh;
    font-family: "MedievalSharp", cursive;
    background-color: rgb(195, 98, 2);
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 3vh;
}

.pop_up_content button:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(101, 0, 0);
}

.pop_up_content pre {
    font-family: "MedievalSharp", cursive;
    font-weight: bold;
    margin-top: 2vh;
    color: rgb(196, 98, 0);
    text-decoration-color: rgb(0, 0, 0);
} */


/* Histórico */

#historico {
    background: url('fundo-pergaminho.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    font-family: 'Garamond', serif;
    color: #3b1f08;
}

.historico-ficha {
    max-width: 1000px;
    margin: 0 auto;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.campo input,
.campo textarea {
    margin-top: 0.5vh;
    margin-bottom: 0, 5vh;
    padding: 5px;
    border: 1px solid #a16938;
    background-color: #fffdf5;
    font-family: 'Garamond', serif;
    color: #3b1f08;
}

.campo textarea {
    resize: vertical;
    margin-top: 0.5vh;
    margin-bottom: 0, 5vh;
}

.campo label {
    text-align: center;
}

.campo.grande {
    flex: 1 1 48%;
}

.secao {
    border: 2px solid #5c2e00;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 248, 220, 0.9);
}

.secao legend {
    background-color: #5c2e00;
    color: #f5e0b9;
    padding: 5px 10px;
    font-variant: small-caps;
    font-weight: bold;
}

.brasao {
    text-align: center;
}

.brasao-espaco {
    border: 2px dashed #5c2e00;
    height: 180px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}