@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.ficha {
    background-color: rgb(189, 189, 189);
    display: flex;
    border: 2px solid rgb(199, 93, 1);
    height: 100%;
    width: 80%;
    flex-direction: column;
}

.area_ficha{
    display: flex;
    width: 100%;
}


header {
    display: flex;
    border-bottom: 1px solid black;
    height: 18vh;
    padding: 1vw;
    justify-content: space-between;
    flex-wrap: wrap;
}
label {
    font-weight: bold;
    font-family: "MedievalSharp", cursive;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-shadow: 1px 1px 20px black;
    background-color: rgb(101, 0, 0);
    padding: 1vh;
    border-radius: 10px;
    height: 4vh;
}

input {
    width: 20vw;
    height: 5vh;
    font-size: 3vh;
    padding-left: 5px;
    font-family: "MedievalSharp", cursive
}

.notacoes_de_atributos{
    width: 100%;
    border: 1px solid black;
}

.atributos_father{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.atributos{
    display: flex;
}

.atributos button:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: beige;
}

.graduacoes, .habilidades, .especialidades{
    display: flex;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    
}

.graduacoes{
    width: 10%;
}
.graduacoes input{
    width: 4vw;
    text-align: center;
    font-weight: bold;
}

.habilidades{
    width: 30%;
}

.habilidades button{
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

.especialidades{
    display: flex;
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.especialidades ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.especialidades ul li{
    border: 1px solid black;
    background-color: rgba(211, 211, 211, 0.527);
}

.especialidades label{
    font-size: 3vh;
    background: none;
    color: black;
}

.especialidades input{
    width: 2vw;
}

.especialida_unica{
    display: flex;
    align-items: center;
}

#idiomaInput{
    width: 100%;
}

.notacoes_corporais{
    display: flex;
    width: 50%;
    border: 2px solid red;
}